!- Font Render
Xft.dpi:96
Xft.antialiasing:true
Xft.rgba:rgb
Xft.hinting:true
Xft.lcdfilter:lcddefault

URxvt.scrollstyle:plain
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true

URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
urxvt*depth: 32

!- Perl Extension
URxvt.perl-ext-common:default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button:1

!- Copy/paste
;URxvt.iso14755: False
;URxvt.keysym.Shift-Alt-C: perl:clipboard:copy
;URxvt.keysym.Shift-Alt-V: perl:clipboard:paste

URxvt.underlineURLs:true
!URxvt.font: xft:Inconsolata for Powerline:size=12
URxvt.font: xft:DejaVu Sans Mono for Powerline:size=12
!URxvt.transparent: true
!URxvt.shading: 20
URxvt.geometry:85x22
URxvt.letterSpace: true

!colors
! Special
*background:    #151d22
*foreground:    #afe1d2
*.cursorColor:  #2d4944

! black
*color0: #1d282f
*color8: #344048

! red
*color1: #6b3659
*color9: #874272

! Green
*color2: #396f5e
*color10: #448773

! Yellow
*color3: #cbd59a
*color11: #f0f8c9

! Blue
*color4: #364670
*color12: #455a8e

! Magenta
*color5:  #613a73
*color13: #794b87

! Cyan
*color6: #1c6689
*color14: #207ba2

! White
*color7:  #93cfbd
*color15: #b8eadb
